body {
  color: #333;
}

.hero {
  height: 522px;
  background: url('/public/cupula.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-text {
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5rem;
}

.welcome {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.welcome h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  max-width: 800px;
  margin: auto;
}

.welcome p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.groups {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.groups h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.groups-cards {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  margin: auto;
}

.group-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  color: #333;
}

.group-card img {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.group-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.group-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}