.default{
    color: #000000;
    
  }

#titulo{
    text-align: center;
}

#subtitulo{
  margin-top:5%;
  text-align: left;
}


#lista{
  margin-left:5%;
}

.ansiedad-ventana-1{
  position: relative;
  background-image: url("imgs/popUp-1.png");
  
  width: 250px;
  height: 175px;
  padding: 0%;
  background-size: contain; 
  background-repeat:no-repeat;

}
.ansiedad-ventana-2{
  position: relative;
  background-image: url("imgs/popUp-2.png");
  width: 185px;
  height: 100px;
  background-size: contain; 
  background-repeat:no-repeat;

}
.ansiedad-ventana-3{
  position: relative;
  background-image: url("imgs/popUp-3.png");
  width: 315px;
  height: 200px;
  background-size: contain; 
  background-repeat:no-repeat;

}
.ansiedad-ventana-4{
  position: relative;
  background-image: url("imgs/popUp-4.png");
  width: 200px;
  height: 200px;
  background-size: contain; 
  background-repeat:no-repeat;

}
.ansiedad-ventana-5{
  position: relative;
  background-image: url("imgs/popUp-5.png");
  width: 400px;
  height: 352px;
  background-size: contain; 
  background-repeat:no-repeat;

}

.ansiedad{
  color: #000000;
  margin-left: 30%;
  text-align:left;
}
.Position{
  position: relative;
  margin-left: 30%;
    text-align:left;
}
.after{
  position: relative;
  left: -3000px;
   
}
.MoreText{
  position: relative;
 background-color: rgb(185, 185, 185);
 background-size: auto;
 border-radius: 10px;
border: 0px;
}