.default{
    color: #000000;
    margin-left: 30%;
    text-align:left;
  }

#titulo{
    text-align: center;
}

#subtitulo{
  margin-top:5%;
  text-align: left;
}

.Ansiedad{
  color: red;
}
.Position{
  position: relative;
  right: -100%;
}